node_modules/
ui/admin/node_modules/
ui/user/node_modules/
ui/user/e2e/
ui/user/ngnix/
ui/user/src/
ui/user/angular.json
ui/user/browserslist
ui/user/docker-compose.yml
ui/user/Dockerfile
ui/user/Gruntfile.js
ui/user/karma.conf.js
ui/user/package.json
ui/user/package-lock.json
ui/user/protractor.conf.js
ui/user/tsconfig.json
ui/user/tslint.json
ui/user/typings.d.ts
ui/admin/e2e/
ui/admin/src/
ui/admin/angular.json
ui/admin/browserslist
ui/admin/Gruntfile.js
ui/admin/karma.conf.js
ui/admin/package.json
ui/admin/package-lock.json
ui/admin/protractor.conf.js
ui/admin/tsconfig.json
ui/admin/tslint.json